.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Bi-Weekly Journal.docx
Honors Reflection.docx
Hours Log.pdf
Hours Log.xlsx
Navs_fb-2.docx
Navs_fb-3.docx
Performance Evaluation Form Final.doc
Performance Evaluation Form Midterm.pdf
Report Outline Ideas.docx
SPBZ 480 Sports Business Internship Syllabus.docx
Summer 2022 Internship Agreement Form.pdf
Synergy_images
